# Database
DATABASE_URL="postgresql://nakama_user:nakama_password@localhost:5432/nakama_db?schema=public"

# Authentication
JWT_ACCESS_SECRET="your_access_token_secret_min_32_chars"
JWT_REFRESH_SECRET="your_refresh_token_secret_min_32_chars"

# Client URL (CORS)
CLIENT_URL="http://localhost:5173"

# Server Port
PORT=5000

# File Upload Settings
UPLOAD_PATH="uploads"
MAX_FILE_SIZE=5242880 # 5MB
